<!doctype html>
<html lang="ca" ng-app="angularIncidencies">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Incidències</title>
    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
</head>
<body ng-controller="getAllController">
  <div class="nav-bar" ng-include="'navbar.html'"></div>
	<div class="container">
    <!--Cabecera-->
      <div class="page-header">
        	<h1>Número d'incidències <span class="label label-info">{{ incidences.length }}</span></h1>
        </div>
        <!--Lista de Todos-->
        <div id="todo-list" class="row">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Alumne/a</th>
                  <th scope="col">Professor/a</th>
                  <th scope="col">Data</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Grup</th>
                  <th scope="col">Assignatura</th>
                  <th scope="col">Opcions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="i in incidences">
                  <td>{{ i.al_nom }} {{ i.al_cog1 }} {{ i.al_cog2 }}</td>
                  <td>{{ i.prof_nom }} {{ i.prof_cog1 }} {{ i.prof_cog2 }}</td>
                  <td ng-bind="i.data | date:'dd/MM/yyyy'"></td>
                  <td ng-bind="i.data | date:'HH:mm'"></td>
                  <td>{{ i.grup }}</td>
                  <td>{{ i.assignatura }}</td>
                  <td>
                    <a ng-href="/detall.html?incidence_id={{i.incidence_id}}" target="_self" class="glyphicon glyphicon-eye-open"></a>
                    <a ng-href="/incidences/generate/{{i.incidence_id}}" target="_self" class="glyphicon glyphicon-download-alt"></a>
                    <a ng-click="deleteIncidence(i.incidence_id)" target="_self" class="glyphicon glyphicon-remove-circle"></a>
                  </td>
                </tr>
              <tbody>
            </table>
         </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
